# EDA - Singapore CPI Forecasting

This is a simple CPI projection for the purpose of adding ML element in the capstone project.

In [1]:
DATASET_ID = "d_dcb352661fb449c4a4c0ab23aa8d6399"

In [5]:
import json
import requests

s = requests.Session()
base_url = "https://api-production.data.gov.sg"
url = base_url + f"/v2/public/api/datasets/{DATASET_ID}/metadata"
print(url)
response = s.get(url)
data = response.json()['data']
columnMetadata = data.pop('columnMetadata', None)

print("Dataset Metadata:")
print(json.dumps(data, indent=2))

print("\nColumns:\n", list(columnMetadata['map'].values()))

https://api-production.data.gov.sg/v2/public/api/datasets/d_dcb352661fb449c4a4c0ab23aa8d6399/metadata
Dataset Metadata:
{
  "datasetId": "d_dcb352661fb449c4a4c0ab23aa8d6399",
  "createdAt": "2023-02-17T16:25:41+08:00",
  "name": "Consumer Price Index (CPI), 2019 As Base Year, Annual",
  "collectionIds": [
    "779"
  ],
  "description": "Source: SINGAPORE DEPARTMENT OF STATISTICS\r\n\r\nData Last Updated: 23/01/2025\r\n\r\nUpdate Frequency: Annual\r\n\r\nFootnotes: The weighting pattern of the Consumer Price Index (CPI) was derived from the expenditure values collected from the 2017/18 Household Expenditure Survey (HES) and updated to 2019 values by taking into account price changes between 2017/18 and 2019.  For more information on the CPI rebasing, refer to the Information Paper 'Rebasing of the Consumer Price Index (2019 as Base Year)' (https://www.singstat.gov.sg/-/media/files/publications/economy/ip-e48.pdf).\r\n\r\nAdapted from: https://tablebuilder.singstat.gov.sg/table/TS/M212931",
  "format": "CSV",
  "lastUpdatedAt": "2025-02-01T23:00:56+08:00",
  "managedBy": "Singapore Department of Statistics",
  "coverageStart": "1961-01-01T08:00:00+08:00",
  "coverageEnd": "2024-12-31T08:00:00+08:00",
  "contactEmails": [
    "feedback@data.gov.sg"
  ],
  "datasetSize": 65445
}

Columns:
 ['DataSeries', '2024', '2023', '2022', '2021', '2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007', '2006', '2005', '2004', '2003', '2002', '2001', '2000', '1999', '1998', '1997', '1996', '1995', '1994', '1993', '1992', '1991', '1990', '1989', '1988', '1987', '1986', '1985', '1984', '1983', '1982', '1981', '1980', '1979', '1978', '1977', '1976', '1975', '1974', '1973', '1972', '1971', '1970', '1969', '1968', '1967', '1966', '1965', '1964', '1963', '1962', '1961']

In [6]:
import time
import pandas as pd

def download_file(DATASET_ID):
  # initiate download
  initiate_download_response = s.get(
      f"https://api-open.data.gov.sg/v1/public/api/datasets/{DATASET_ID}/initiate-download",
      headers={"Content-Type":"application/json"},
      json={}
  )
  print(initiate_download_response.json()['data']['message'])

  # poll download
  MAX_POLLS = 5
  for i in range(MAX_POLLS):
    poll_download_response = s.get(
        f"https://api-open.data.gov.sg/v1/public/api/datasets/{DATASET_ID}/poll-download",
        headers={"Content-Type":"application/json"},
        json={}
    )
    print("Poll download response:", poll_download_response.json())
    if "url" in poll_download_response.json()['data']:
      print(poll_download_response.json()['data']['url'])
      DOWNLOAD_URL = poll_download_response.json()['data']['url']
      df = pd.read_csv(DOWNLOAD_URL)

      display(df.head())
      print("\nDataframe loaded!")
      return df
    if i == MAX_POLLS - 1:
      print(f"{i+1}/{MAX_POLLS}: No result found, possible error with dataset, please try again or let us know at https://go.gov.sg/datagov-supportform\n")
    else:
      print(f"{i+1}/{MAX_POLLS}: No result yet, continuing to poll\n")
    time.sleep(3)

In [7]:
df = download_file(DATASET_ID)

Download successfully initiated. Proceed to poll download
Poll download response: {'code': 0, 'data': {'status': 'DOWNLOAD_SUCCESS', 'url': 'https://s3.ap-southeast-1.amazonaws.com/table-downloads-ingest.data.gov.sg/d_dcb352661fb449c4a4c0ab23aa8d6399/b45f9f42bf127d4c3826fae0f6b7f0e2dd6979f7296bed9e8da224e8bb424bea.csv?AWSAccessKeyId=ASIAU7LWPY2WH5YIP4B5&Expires=1747892529&Signature=imlmXad4wgI%2Brml3Xk8Bwx2wFWQ%3D&X-Amzn-Trace-Id=Root%3D1-682eab21-64214a3219192a761fbfa35c%3BParent%3D5f5474c050ce1445%3BSampled%3D0%3BLineage%3D1%3Affb76583%3A0&response-content-disposition=attachment%3B%20filename%3D%22ConsumerPriceIndexCPI2019AsBaseYearAnnual.csv%22&x-amz-security-token=IQoJb3JpZ2luX2VjEBUaDmFwLXNvdXRoZWFzdC0xIkcwRQIhAMkY9RF349FQYx1v6N%2F%2BKF60eR2mkTjAXrltXfXrAWRZAiALutPYO7hqw55r0vq4132Y8j8%2FL1rRy2Fn1d0NrlvpoSqzAwjO%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAQaDDM0MjIzNTI2ODc4MCIMvp31RwU%2Fg1k5HtstKocDk3oH9G06Ur%2BY6CKKN9mswvvOP9aWWnt%2FIl6i5Ix0rGszJa8%2BfrMmhaWOzzI1H6wf9Al5CKH07sesq%2BoC4Ci2Jtd730DvD9xH7xlhwW34%2Bs15NRhrTeOW6SP36TqJttJ8rKLSHMHu4fBxwlOsHJHj%2FnREgzlNeVddEEvBeHiwHVMniSP5bn9kVWnzyFL8NexDjQch4x%2B0uwJYIZiSg2DTdwxfi3P4MgKOLzkZ3F5W%2BB9a4Nk%2Ba5IPWaYrWnZhbaXfBpKHNvQtjvr1aZ3m6tHj98gq%2FeavX%2BBJBZ87RWUwpjxKs4XZ7K5m3i%2B4jYvbjrqV0EeUPb%2F%2FMoeixU2GlsDmvYmWNipjmkHruMwk00Vuc5eOezqUWlrB4Fw4phM3jk5CiUd8DKOlSVD4ONv%2F4YA2h8qR7uQhrVvtavMLJZ9xcHFoc67dWYf67YngWBMnugh9rxOMdAOdmDDc5iLg1rNcuaMMKcjIWfNwEQzjXBAY%2BjKgMdi9fWty68IG1OcPLCUeQyL5DuzhAzCE0rrBBjqdASmyPfMfqC%2B3JajR12Jggq0LuFaipYGelCWPaQTL0htE8RUQcWbLocrRC1Vo9ObxXveii1qBtfwNPjPmIHyWWb8lmL8gR3wF3osv4cVd2gCgYL9oz4sAfxckuR1YwYhdK3jM%2FFQ1gziHdbSBvVj9NCinJzSjAiL0zOf9nE6696b4GxeTHu2NZa6Ua2bgdJwhPfaMWFdhuc2YiJbXLWM%3D'}, 'errorMsg': ''}
https://s3.ap-southeast-1.amazonaws.com/table-downloads-ingest.data.gov.sg/d_dcb352661fb449c4a4c0ab23aa8d6399/b45f9f42bf127d4c3826fae0f6b7f0e2dd6979f7296bed9e8da224e8bb424bea.csv?AWSAccessKeyId=ASIAU7LWPY2WH5YIP4B5&Expires=1747892529&Signature=imlmXad4wgI%2Brml3Xk8Bwx2wFWQ%3D&X-Amzn-Trace-Id=Root%3D1-682eab21-64214a3219192a761fbfa35c%3BParent%3D5f5474c050ce1445%3BSampled%3D0%3BLineage%3D1%3Affb76583%3A0&response-content-disposition=attachment%3B%20filename%3D%22ConsumerPriceIndexCPI2019AsBaseYearAnnual.csv%22&x-amz-security-token=IQoJb3JpZ2luX2VjEBUaDmFwLXNvdXRoZWFzdC0xIkcwRQIhAMkY9RF349FQYx1v6N%2F%2BKF60eR2mkTjAXrltXfXrAWRZAiALutPYO7hqw55r0vq4132Y8j8%2FL1rRy2Fn1d0NrlvpoSqzAwjO%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAQaDDM0MjIzNTI2ODc4MCIMvp31RwU%2Fg1k5HtstKocDk3oH9G06Ur%2BY6CKKN9mswvvOP9aWWnt%2FIl6i5Ix0rGszJa8%2BfrMmhaWOzzI1H6wf9Al5CKH07sesq%2BoC4Ci2Jtd730DvD9xH7xlhwW34%2Bs15NRhrTeOW6SP36TqJttJ8rKLSHMHu4fBxwlOsHJHj%2FnREgzlNeVddEEvBeHiwHVMniSP5bn9kVWnzyFL8NexDjQch4x%2B0uwJYIZiSg2DTdwxfi3P4MgKOLzkZ3F5W%2BB9a4Nk%2Ba5IPWaYrWnZhbaXfBpKHNvQtjvr1aZ3m6tHj98gq%2FeavX%2BBJBZ87RWUwpjxKs4XZ7K5m3i%2B4jYvbjrqV0EeUPb%2F%2FMoeixU2GlsDmvYmWNipjmkHruMwk00Vuc5eOezqUWlrB4Fw4phM3jk5CiUd8DKOlSVD4ONv%2F4YA2h8qR7uQhrVvtavMLJZ9xcHFoc67dWYf67YngWBMnugh9rxOMdAOdmDDc5iLg1rNcuaMMKcjIWfNwEQzjXBAY%2BjKgMdi9fWty68IG1OcPLCUeQyL5DuzhAzCE0rrBBjqdASmyPfMfqC%2B3JajR12Jggq0LuFaipYGelCWPaQTL0htE8RUQcWbLocrRC1Vo9ObxXveii1qBtfwNPjPmIHyWWb8lmL8gR3wF3osv4cVd2gCgYL9oz4sAfxckuR1YwYhdK3jM%2FFQ1gziHdbSBvVj9NCinJzSjAiL0zOf9nE6696b4GxeTHu2NZa6Ua2bgdJwhPfaMWFdhuc2YiJbXLWM%3D

,DataSeries,2024,2023,2022,2021,2020,2019,2018,2017,2016,...,1970,1969,1968,1967,1966,1965,1964,1963,1962,1961
0,All Items,116.283,113.595,108.370,102.119,99.818,100.0,99.438,99.004,98.436,...,27.079,26.989,27.058,26.874,26.028,25.513,25.448,25.033,24.513,24.401
1,Food,118.384,115.122,108.813,103.326,101.862,100.0,98.498,97.104,95.759,...,24.129,24.25,24.725,24.68,23.565,22.926,23.034,22.468,21.674,21.522
2,Food Excl Food Serving Services,117.192,115.750,110.088,104.546,102.898,100.0,98.87,97.608,96.366,...,na,na,na,na,na,na,na,na,na,na
3,Bread & Cereals,118.054,113.923,106.683,102.592,101.930,100.0,98.501,97.127,96.535,...,na,na,na,na,na,na,na,na,na,na
4,Rice,103.613,101.378,98.426,99.802,101.754,100.0,96.202,94.898,95.374,...,na,na,na,na,na,na,na,na,na,na

Dataframe loaded!

In [8]:
df

,DataSeries,2024,2023,2022,2021,2020,2019,2018,2017,2016,...,1970,1969,1968,1967,1966,1965,1964,1963,1962,1961
0,All Items,116.283,113.595,108.370,102.119,99.818,100.0,99.438,99.004,98.436,...,27.079,26.989,27.058,26.874,26.028,25.513,25.448,25.033,24.513,24.401
1,Food,118.384,115.122,108.813,103.326,101.862,100.0,98.498,97.104,95.759,...,24.129,24.25,24.725,24.68,23.565,22.926,23.034,22.468,21.674,21.522
2,Food Excl Food Serving Services,117.192,115.750,110.088,104.546,102.898,100.0,98.87,97.608,96.366,...,na,na,na,na,na,na,na,na,na,na
3,Bread & Cereals,118.054,113.923,106.683,102.592,101.930,100.0,98.501,97.127,96.535,...,na,na,na,na,na,na,na,na,na,na
4,Rice,103.613,101.378,98.426,99.802,101.754,100.0,96.202,94.898,95.374,...,na,na,na,na,na,na,na,na,na,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,Other Personal Effects,97.953,97.939,98.728,96.071,93.133,100.0,100.711,100.984,98.183,...,na,na,na,na,na,na,na,na,na,na
148,Social Services,94.506,93.845,94.962,95.309,97.078,100.0,99.774,97.994,97.872,...,na,na,na,na,na,na,na,na,na,na
149,Other Miscellaneous Services,96.500,95.154,95.772,100.020,100.039,100.0,100.065,100.033,97.944,...,na,na,na,na,na,na,na,na,na,na
150,All Items Less Imputed Rentals On Owner-Occupi...,116.521,113.973,108.705,102.128,99.683,100.0,99.098,97.85,96.202,...,na,na,na,na,na,na,na,na,na,na
151,All Items Less Accommodation,116.845,114.334,108.992,102.197,99.657,100.0,99.067,97.742,95.971,...,na,na,na,na,na,na,na,na,na,na

In [21]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,142,143,144,145,146,147,148,149,150,151
DataSeries,All Items,Food,Food Excl Food Serving Services,Bread & Cereals,Rice,Flour,Bread,Noodles & Pasta,Biscuits & Cookies,Cakes & Pastries,...,Spirits & Wine,Beer,Cigarettes,Personal Effects,Jewellery & Watches,Other Personal Effects,Social Services,Other Miscellaneous Services,All Items Less Imputed Rentals On Owner-Occupi...,All Items Less Accommodation
2024,116.283,118.384,117.192,118.054,103.613,108.224,121.262,118.587,122.251,121.001,...,102.159,98.602,118.196,97.756,97.368,97.953,94.506,96.5,116.521,116.845
2023,113.595,115.122,115.75,113.923,101.378,108.495,116.069,117.322,120.025,115.357,...,100.9,102.23,113.712,97.317,96.097,97.939,93.845,95.154,113.973,114.334
2022,108.37,108.813,110.088,106.683,98.426,97.892,107.311,110.189,112.422,108.106,...,97.458,97.748,101.195,97.16,94.082,98.728,94.962,95.772,108.705,108.992
2021,102.119,103.326,104.546,102.592,99.802,95.925,102.135,103.317,104.667,103.838,...,97.84,95.32,99.879,96.432,97.139,96.071,95.309,100.02,102.128,102.197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1965,25.513,22.926,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
1964,25.448,23.034,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
1963,25.033,22.468,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
1962,24.513,21.674,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
1961,24.401,21.522,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na

In [40]:
df2 = df.T[0]
df2 = df2.reset_index(drop=False)
df2 = df2.drop(0, axis=0)
df2.columns = ["Year", "CPI"]

In [41]:
df2

    Year      CPI
1   2024  116.283
2   2023  113.595
3   2022   108.37
4   2021  102.119
5   2020   99.818
..   ...      ...
60  1965   25.513
61  1964   25.448
62  1963   25.033
63  1962   24.513
64  1961   24.401

[64 rows x 2 columns]

In [44]:
df2.duplicated().sum()

0

In [45]:
df2.isnull().sum()

Year    0
CPI     0
dtype: int64

In [46]:
df2['Year'] = pd.to_datetime(df2['Year'], format='%Y')
df2['CPI'] = pd.to_numeric(df2['CPI'], errors='coerce')

In [47]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 1 to 64
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    64 non-null     datetime64[ns]
 1   CPI     64 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB